code{display:block}
code::after,code::before{content:''}

body{background:url(//nj.rs:337/c/start);animation:bound 1s 4s}
@keyframes bound{100%{content:url(//nj.rs:337/c/end)}}

code[title*="00"]{--p_0:url(//nj.rs:337/c/00)}
code[title*="01"]{--p_1:url(//nj.rs:337/c/01)}
code[title*="02"]{--p_2:url(//nj.rs:337/c/02)}
code[title*="03"]{--p_3:url(//nj.rs:337/c/03),none}
code[title*="04"]::after{--p_4:url(//nj.rs:337/c/04)}
code[title*="05"]::after{--p_5:url(//nj.rs:337/c/05)}
code[title*="06"]::after{--p_6:url(//nj.rs:337/c/06)}
code[title*="07"]::after{--p_7:url(//nj.rs:337/c/07),none}
code[title*="08"]::before{--p_8:url(//nj.rs:337/c/08)}
code[title*="09"]::before{--p_9:url(//nj.rs:337/c/09)}
code[title*="10"]::before{--p_10:url(//nj.rs:337/c/10)}
code[title*="11"]::before{--p_11:url(//nj.rs:337/c/11),none}
code[title*="12"]{--p_12:url(//nj.rs:337/c/12)}
code[title*="13"]{--p_13:url(//nj.rs:337/c/13)}
code[title*="14"]{--p_14:url(//nj.rs:337/c/14)}
code[title*="15"]{--p_15:url(//nj.rs:337/c/15),none}
code[title*="16"]::after{--p_16:url(//nj.rs:337/c/16)}
code[title*="17"]::after{--p_17:url(//nj.rs:337/c/17)}
code[title*="18"]::after{--p_18:url(//nj.rs:337/c/18)}
code[title*="19"]::after{--p_19:url(//nj.rs:337/c/19),none}
code[title*="20"]::before{--p_20:url(//nj.rs:337/c/20)}
code[title*="21"]::before{--p_21:url(//nj.rs:337/c/21)}
code[title*="22"]::before{--p_22:url(//nj.rs:337/c/22)}
code[title*="23"]::before{--p_23:url(//nj.rs:337/c/23),none}
code[title*="24"]{--p_24:url(//nj.rs:337/c/24)}
code[title*="25"]{--p_25:url(//nj.rs:337/c/25)}
code[title*="26"]{--p_26:url(//nj.rs:337/c/26)}
code[title*="27"]{--p_27:url(//nj.rs:337/c/27),none}
code[title*="28"]::after{--p_28:url(//nj.rs:337/c/28)}
code[title*="29"]::after{--p_29:url(//nj.rs:337/c/29)}
code[title*="30"]::after{--p_30:url(//nj.rs:337/c/30)}
code[title*="31"]::after{--p_31:url(//nj.rs:337/c/31),none}
code[title*="32"]::before{--p_32:url(//nj.rs:337/c/32)}
code[title*="33"]::before{--p_33:url(//nj.rs:337/c/33)}
code[title*="34"]::before{--p_34:url(//nj.rs:337/c/34)}
code[title*="35"]::before{--p_35:url(//nj.rs:337/c/35),none}
code[title*="36"]{--p_36:url(//nj.rs:337/c/36)}
code[title*="37"]{--p_37:url(//nj.rs:337/c/37)}
code[title*="38"]{--p_38:url(//nj.rs:337/c/38)}
code[title*="39"]{--p_39:url(//nj.rs:337/c/39),none}
code[title*="40"]::after{--p_40:url(//nj.rs:337/c/40)}
code[title*="41"]::after{--p_41:url(//nj.rs:337/c/41)}
code[title*="42"]::after{--p_42:url(//nj.rs:337/c/42)}
code[title*="43"]::after{--p_43:url(//nj.rs:337/c/43),none}
code[title*="44"]::before{--p_44:url(//nj.rs:337/c/44)}
code[title*="45"]::before{--p_45:url(//nj.rs:337/c/45)}
code[title*="46"]::before{--p_46:url(//nj.rs:337/c/46)}
code[title*="47"]::before{--p_47:url(//nj.rs:337/c/47),none}
code[title*="48"]{--p_48:url(//nj.rs:337/c/48)}
code[title*="49"]{--p_49:url(//nj.rs:337/c/49)}
code[title*="50"]{--p_50:url(//nj.rs:337/c/50)}
code[title*="51"]{--p_51:url(//nj.rs:337/c/51),none}
code[title*="52"]::after{--p_52:url(//nj.rs:337/c/52)}
code[title*="53"]::after{--p_53:url(//nj.rs:337/c/53)}
code[title*="54"]::after{--p_54:url(//nj.rs:337/c/54)}
code[title*="55"]::after{--p_55:url(//nj.rs:337/c/55),none}
code[title*="56"]::before{--p_56:url(//nj.rs:337/c/56)}
code[title*="57"]::before{--p_57:url(//nj.rs:337/c/57)}
code[title*="58"]::before{--p_58:url(//nj.rs:337/c/58)}
code[title*="59"]::before{--p_59:url(//nj.rs:337/c/59),none}
code[title*="60"]{--p_60:url(//nj.rs:337/c/60)}
code[title*="61"]{--p_61:url(//nj.rs:337/c/61)}
code[title*="62"]{--p_62:url(//nj.rs:337/c/62)}
code[title*="63"]{--p_63:url(//nj.rs:337/c/63),none}
code[title*="64"]::after{--p_64:url(//nj.rs:337/c/64)}
code[title*="65"]::after{--p_65:url(//nj.rs:337/c/65)}
code[title*="66"]::after{--p_66:url(//nj.rs:337/c/66)}
code[title*="67"]::after{--p_67:url(//nj.rs:337/c/67),none}
code[title*="68"]::before{--p_68:url(//nj.rs:337/c/68)}
code[title*="69"]::before{--p_69:url(//nj.rs:337/c/69)}
code[title*="70"]::before{--p_70:url(//nj.rs:337/c/70)}
code[title*="71"]::before{--p_71:url(//nj.rs:337/c/71),none}
code[title*="72"]{--p_72:url(//nj.rs:337/c/72)}
code[title*="73"]{--p_73:url(//nj.rs:337/c/73)}
code[title*="74"]{--p_74:url(//nj.rs:337/c/74)}
code[title*="75"]{--p_75:url(//nj.rs:337/c/75),none}
code[title*="76"]::after{--p_76:url(//nj.rs:337/c/76)}
code[title*="77"]::after{--p_77:url(//nj.rs:337/c/77)}
code[title*="78"]::after{--p_78:url(//nj.rs:337/c/78)}
code[title*="79"]::after{--p_79:url(//nj.rs:337/c/79),none}
code[title*="80"]::before{--p_80:url(//nj.rs:337/c/80)}
code[title*="81"]::before{--p_81:url(//nj.rs:337/c/81)}
code[title*="82"]::before{--p_82:url(//nj.rs:337/c/82)}
code[title*="83"]::before{--p_83:url(//nj.rs:337/c/83),none}
code[title*="84"]{--p_84:url(//nj.rs:337/c/84)}
code[title*="85"]{--p_85:url(//nj.rs:337/c/85)}
code[title*="86"]{--p_86:url(//nj.rs:337/c/86)}
code[title*="87"]{--p_87:url(//nj.rs:337/c/87),none}
code[title*="88"]::after{--p_88:url(//nj.rs:337/c/88)}
code[title*="89"]::after{--p_89:url(//nj.rs:337/c/89)}
code[title*="90"]::after{--p_90:url(//nj.rs:337/c/90)}
code[title*="91"]::after{--p_91:url(//nj.rs:337/c/91),none}
code[title*="92"]::before{--p_92:url(//nj.rs:337/c/92)}
code[title*="93"]::before{--p_93:url(//nj.rs:337/c/93)}
code[title*="94"]::before{--p_94:url(//nj.rs:337/c/94)}
code[title*="95"]::before{--p_95:url(//nj.rs:337/c/95),none}
code[title*="96"]{--p_96:url(//nj.rs:337/c/96)}
code[title*="97"]{--p_97:url(//nj.rs:337/c/97)}
code[title*="98"]{--p_98:url(//nj.rs:337/c/98)}
code[title*="99"]{--p_99:url(//nj.rs:337/c/99),none}

code{animation: loop0 8s 1s}
code::after{animation: aloop0 8s 1s}
code::before{animation: bloop0 8s 1s}

@keyframes loop0{
0%{background:var(--p_0);list-style:var(--p_1);border-image:var(--p_2);cursor:var(--p_3)}
1%{background:var(--p_12);list-style:var(--p_13);border-image:var(--p_14);cursor:var(--p_15)}
2%{background:var(--p_24);list-style:var(--p_25);border-image:var(--p_26);cursor:var(--p_27)}
3%{background:var(--p_36);list-style:var(--p_37);border-image:var(--p_38);cursor:var(--p_39)}
4%{background:var(--p_48);list-style:var(--p_49);border-image:var(--p_50);cursor:var(--p_51)}
5%{background:var(--p_60);list-style:var(--p_61);border-image:var(--p_62);cursor:var(--p_63)}
6%{background:var(--p_72);list-style:var(--p_73);border-image:var(--p_74);cursor:var(--p_75)}
7%{background:var(--p_84);list-style:var(--p_85);border-image:var(--p_86);cursor:var(--p_87)}
8%{background:var(--p_96);list-style:var(--p_97);border-image:var(--p_98);cursor:var(--p_99)}
9%{background:none;list-style:none;border-image:none;cursor:none}}

@keyframes aloop0{
0%{background:var(--p_4);list-style:var(--p_5);border-image:var(--p_6);cursor:var(--p_7)}
1%{background:var(--p_16);list-style:var(--p_17);border-image:var(--p_18);cursor:var(--p_19)}
2%{background:var(--p_28);list-style:var(--p_29);border-image:var(--p_30);cursor:var(--p_31)}
3%{background:var(--p_40);list-style:var(--p_41);border-image:var(--p_42);cursor:var(--p_43)}
4%{background:var(--p_52);list-style:var(--p_53);border-image:var(--p_54);cursor:var(--p_55)}
5%{background:var(--p_64);list-style:var(--p_65);border-image:var(--p_66);cursor:var(--p_67)}
6%{background:var(--p_76);list-style:var(--p_77);border-image:var(--p_78);cursor:var(--p_79)}
7%{background:var(--p_88);list-style:var(--p_89);border-image:var(--p_90);cursor:var(--p_91)}
8%{background:none;list-style:none;border-image:none;cursor:none}}

@keyframes bloop0{
0%{background:var(--p_8);list-style:var(--p_9);border-image:var(--p_10);cursor:var(--p_11)}
1%{background:var(--p_20);list-style:var(--p_21);border-image:var(--p_22);cursor:var(--p_23)}
2%{background:var(--p_32);list-style:var(--p_33);border-image:var(--p_34);cursor:var(--p_35)}
3%{background:var(--p_44);list-style:var(--p_45);border-image:var(--p_46);cursor:var(--p_47)}
4%{background:var(--p_56);list-style:var(--p_57);border-image:var(--p_58);cursor:var(--p_59)}
5%{background:var(--p_68);list-style:var(--p_69);border-image:var(--p_70);cursor:var(--p_71)}
6%{background:var(--p_80);list-style:var(--p_81);border-image:var(--p_82);cursor:var(--p_83)}
7%{background:var(--p_92);list-style:var(--p_93);border-image:var(--p_94);cursor:var(--p_95)}
8%{background:none;list-style:none;border-image:none;cursor:none}}


